
useDynLib(ergm)

importFrom(utils, packageDescription)
importFrom(robustbase, lmrob, covMcd)
importFrom(trust, trust)
importFrom(Matrix, nearPD)
importFrom(lpSolve, lp)
import(statnet.common, network, coda, parallel)
importFrom(stats,simulate)

# Export all names that do not begin with a dot.
#exportPattern("^[^\\.]")
export(
  anova.ergm,
  anova.ergmlist,                  
  append.rhs.formula,
  approx.hotelling.diff.test,      
  as.edgelist,
  as.edgelist.compressed,          
  as.edgelist.matrix,
  as.edgelist.network,             
  as.network.numeric,
  as.network.uncompressed,         
  #central.network, proposed to delete
  check.ErgmTerm,                  
  coef.ergm,
  coefficients.ergm,               
  coef.length.model,
  coef.sublength.model,            
  colMeans.mcmc.list,
  control.ergm,                    
  control.ergm.bridge,
  # control.ergm.toplevel,      proposed to make internal    
  control.gof.ergm,
  control.gof.formula,             
  control.logLik.ergm,
  control.san,                     
  control.simulate,
  control.simulate.ergm,           
  # control.simulate.ergm.toplevel,  proposed to make internal
  control.simulate.formula,        
  control.simulate.formula.ergm,
  # copy.named,   propsed delete                   
  degreedist,
  # degreedistfactor,                
  # delete.isolates,
  drawcircle,                      
  drawpie,
  # dspartnerdist,            proposed to make internal       
  enformulate.curved,
  enformulate.curved.ergm,         
  enformulate.curved.formula,
  ergm,                            
  ergm.allstats,
  ergm.bounddeg,                   
  #ergm.bridge.0.llk,  proposed to make internal
  ergm.bridge.dindstart.llk,       
  ergm.bridge.llr,
  ergm.bridge.preproc,             
  ergm.checkargs,
  ergm.checkbipartite,             
  ergm.checkconstraints.model,
  ergm.checkdegeneracy,            
  ergm.checkdirected,
  ergm.checkextreme.model,         
  # ergm.coefficient.degeneracy, proposed to make internal
  # ergm.compute.degeneracy,         proposed to make internal
  ergm.ConstraintImplications,
  ergm.Cprepare,                   
  ergm.Cprepare.el,
  # ergm.Cprepare.miss,         proposed to make internal     
  # ergm.curved.statsmatrix,    proposed to make internal
  ergm.degeneracy,                 
  ergm.design,
  ergm.el.lasttoggle,              
  ergm.estimate,
  ergm.eta,                        
  ergm.etagrad,
  ergm.etagradmult,                
  ergm.etamap,
  ergm.exact,                      
  ergm.geodesicmatrix,
  ergm.geodesicmatrix.edgelist,    
  ergm.geodistdist,
  ergm.geodistn,                   
  ergm.getCluster,
  ergm.getglobalstats,             
  ergm.getMCMCsample,
  ergm.getmodel,                   
  ergm.getnetwork,
  ergm.getterms,                   
  ergm.initialfit,
  ergm.init.methods,               
  ergm.llik.wins,
  ergm.logisticdeviance,           
  ergm.logitreg,
  ergm.mahalanobis,                
  ergm.mapl,
  ergm.maple,                      
  # ergm.MCMC.packagenames, proposed to make internal
  ergm.MCMCse,                     
  ergm.MCMCse.lognormal,
  ergm.mcmcslave,                  
  ergm.MCMLE,
  ergm.MHP.table,                  
  ergm.MPIcluster.started,
  ergm.mple,                       
  ergmMPLE,
  ergm.nodegeodesics,              
  ergm.pairgeodesic,
  ergm.pen.glm,                    
  # ergm.phase12, proposed to make internal
  ergm.pl,                         
  # ergm.reviseinit, proposed to make internal
  # ergm.rhs.formula,      proposed to make internal          
  # ergm.robmon, proposed to make internal
  # ergm.sample.eta2theta,      proposed to make internal     
  # ergm.sample.tomcmc,  proposed to make internal
  # ergm.stepping,       proposed to make internal             
  # ergm.stocapprox, proposed to make internal
  ergm.stopCluster,                
  ergm.stopCluster.default,
  ergm.stopCluster.MPIcluster,     
  # ergm.sufftoprob,  proposed to make internal
  # ergm.t.summary,              proposed to make internal     
  ergm.update.formula,
  # espartnerdist,              proposed to make internal      
  fix.curved,
  fix.curved.ergm,                 
  fix.curved.formula,
  get.free.dyads,                  
  # get.InitErgm.fname,  proposed to make internal
  get.miss.dyads,                  
  get.node.attr,
  gof,                             
  gof.default,
  gof.ergm,                        
  gof.formula,
  InitConstraint.b1degrees,        
  InitConstraint.b2degrees,
  InitConstraint.bd,               
  InitConstraint.blockdiag,
  InitConstraint.degreedist,       
  InitConstraint.degrees,
  InitConstraint.edges,            
  InitConstraint.fixallbut,
  InitConstraint.fixedas,          
  InitConstraint.hamming,
  InitConstraint.idegreedist,      
  InitConstraint.idegrees,
  InitConstraint.nodedegrees,      
  InitConstraint.observed,
  InitConstraint.odegreedist,      
  InitConstraint.odegrees,
  InitErgmTerm.absdiff,            
  InitErgmTerm.absdiffcat,
  InitErgmTerm.altkstar,           
  InitErgmTerm.asymmetric,
  InitErgmTerm.b1concurrent,       
  InitErgmTerm.b1degrange,
  InitErgmTerm.b1degree,           
  InitErgmTerm.b1factor,
  InitErgmTerm.b1mindegree,        
  InitErgmTerm.b1nodematch,
  InitErgmTerm.b1star,             
  InitErgmTerm.b1starmix,
  InitErgmTerm.b1twostar,          
  InitErgmTerm.b2concurrent,
  InitErgmTerm.b2degrange,         
  InitErgmTerm.b2degree,
  InitErgmTerm.b2factor,           
  InitErgmTerm.b2mindegree,
  InitErgmTerm.b2nodematch,        
  InitErgmTerm.b2star,
  InitErgmTerm.b2starmix,          
  InitErgmTerm.b2twostar,
  InitErgmTerm.balance,            
  InitErgmTerm.coincidence,
  InitErgmTerm.concurrent,         
  InitErgmTerm.concurrentties,
  InitErgmTerm.conddegmple,        
  InitErgmTerm.ctriad,
  InitErgmTerm.ctriple,            
  InitErgmTerm.cycle,
  InitErgmTerm.cyclicalties,       
  InitErgmTerm.degcor,
  InitErgmTerm.degcrossprod,       
  InitErgmTerm.degrange,
  InitErgmTerm.degree,             
  InitErgmTerm.degreepopularity,
  InitErgmTerm.density,            
  InitErgmTerm.dsp,
  InitErgmTerm.dyadcov,            
  InitErgmTerm.edgecov,
  InitErgmTerm.edges,              
  InitErgmTerm.esp,
  InitErgmTerm.gwb1degree,         
  InitErgmTerm.gwb2degree,
  InitErgmTerm.gwdegree,           
  InitErgmTerm.gwdsp,
  InitErgmTerm.gwesp,              
  InitErgmTerm.gwidegree,
  InitErgmTerm.gwnsp,              
  InitErgmTerm.gwodegree,
  InitErgmTerm.hamming,            
  InitErgmTerm.hammingmix,
  InitErgmTerm.idegrange,          
  InitErgmTerm.idegree,
  InitErgmTerm.idegreepopularity,  
  InitErgmTerm.indices,
  InitErgmTerm.intransitive,       
  InitErgmTerm.isolates,
  InitErgmTerm.istar,              
  InitErgmTerm.kstar,
  InitErgmTerm.localtriangle,      
  InitErgmTerm.m2star,
  InitErgmTerm.match,              
  InitErgmTerm.meandeg,
  InitErgmTerm.mutual,             
  InitErgmTerm.nearsimmelian,
  InitErgmTerm.nodecov,            
  InitErgmTerm.nodefactor,
  InitErgmTerm.nodeicov,           
  InitErgmTerm.nodeifactor,
  InitErgmTerm.nodemain,           
  InitErgmTerm.nodematch,
  InitErgmTerm.nodemix,            
  InitErgmTerm.nodeocov,
  InitErgmTerm.nodeofactor,        
  InitErgmTerm.nsp,
  InitErgmTerm.odegrange,          
  InitErgmTerm.odegree,
  InitErgmTerm.odegreepopularity,  
  InitErgmTerm.opentriad,
  InitErgmTerm.ostar,              
  InitErgmTerm.receiver,
  InitErgmTerm.sender,             
  InitErgmTerm.simmelian,
  InitErgmTerm.simmelianties,      
  InitErgmTerm.smalldiff,
  InitErgmTerm.sociality,          
  InitErgmTerm.threepath,
  InitErgmTerm.transitive,         
  InitErgmTerm.transitiveties,
  InitErgmTerm.triadcensus,        
  InitErgmTerm.triangle,
  InitErgmTerm.triangles,          
  InitErgmTerm.tripercent,
  InitErgmTerm.ttriad,             
  InitErgmTerm.ttriple,
  InitErgmTerm.twopath,            
  InitMHP.blockdiag,
  InitMHP.blockdiagNonObserved,    
  InitMHP.blockdiagTNT,
  InitMHP.CondB1Degree,            
  InitMHP.CondB2Degree,
  InitMHP.CondDegree,              
  InitMHP.CondDegreeDist,
  InitMHP.CondDegreeMix,           
  InitMHP.CondInDegree,
  InitMHP.CondInDegreeDist,        
  InitMHP.CondOutDegree,
  InitMHP.CondOutDegreeDist,       
  InitMHP.ConstantEdges,
  InitMHP.fixallbut,               
  InitMHP.fixedas,
  InitMHP.HammingConstantEdges,    
  InitMHP.HammingTNT,
  InitMHP.randomtoggle,            
  InitMHP.randomtoggleNonObserved,
  InitMHP.TNT,                     
  InitReference.Bernoulli,
  InitReference.DiscUnif,          
  InitReference.StdNormal,
  InitReference.Unif,              
  InitWtErgmTerm.absdiff,
  InitWtErgmTerm.absdiffcat,       
  InitWtErgmTerm.atleast,
  InitWtErgmTerm.cyclicalties,     
  InitWtErgmTerm.cyclicalweights,
  InitWtErgmTerm.edgecov,          
  InitWtErgmTerm.edges,
  InitWtErgmTerm.greaterthan,      
  InitWtErgmTerm.ininterval,
  InitWtErgmTerm.match,            
  InitWtErgmTerm.mutual,
  InitWtErgmTerm.nodecov,          
  InitWtErgmTerm.nodecovar,
  InitWtErgmTerm.nodefactor,       
  InitWtErgmTerm.nodeicov,
  InitWtErgmTerm.nodeicovar,       
  InitWtErgmTerm.nodeifactor,
  InitWtErgmTerm.nodeisqrtcovar,   
  InitWtErgmTerm.nodemain,
  InitWtErgmTerm.nodematch,        
  InitWtErgmTerm.nodemix,
  InitWtErgmTerm.nodeocov,         
  InitWtErgmTerm.nodeocovar,
  InitWtErgmTerm.nodeofactor,      
  InitWtErgmTerm.nodeosqrtcovar,
  InitWtErgmTerm.nodesqrtcovar,    
  InitWtErgmTerm.nonzero,
  InitWtErgmTerm.sum,              
  InitWtErgmTerm.transitiveties,
  InitWtErgmTerm.transitiveweights,
  InitWtMHP.DiscUnif,
  InitWtMHP.DiscUnifNonObserved,   
  InitWtMHP.StdNormal,
  InitWtMHP.Unif,                  
  InitWtMHP.UnifNonObserved,
  invert.network,                  
  is.durational,
  is.durational.character,         
  is.durational.ergm.model,
  is.durational.formula,           
  is.durational.NULL,
  is.dyad.independent,             
  is.dyad.independent.conlist,
  is.dyad.independent.ergm,        
  is.dyad.independent.ergm.model,
  is.dyad.independent.formula,     
  is.dyad.independent.NULL,
  is.ergm,                         
  is.inCH,
  # is.invertible,                proposed to make internal   
  # largest.components,      proposed to make internal 
  #llik.fun,                        
  #llik.fun2,
  #llik.fun3,                       
  #llik.fun.EF,
  #llik.fun.logtaylor,              
  #llik.fun.median,
  #llik.fun.obs,                    
  #llik.fun.obs.robust,
  #llik.grad,                       
  #llik.grad2,
  #llik.grad3,                      
  #llik.grad.obs,
  #llik.hessian,                    
  #llik.hessian2,
  #llik.hessian.naive,              
  #llik.hessian.obs,
  #llik.info3,                      
  #llik.mcmcvar3,
  #logistftest,      proposed to make internal                   
  logLik.ergm,
  logLikNull,                      
  logLikNull.ergm,
  mcmc.diagnostics,                
  mcmc.diagnostics.default,
  mcmc.diagnostics.ergm,           
  MHproposal,
  MHproposal.character,            
  MHproposal.ergm,
  MHproposal.formula,              
  MHproposal.MHproposal,
  MHproposal.NULL,                 
  #midarrow,  proposed delete
  #mk.conlist,         proposed to make internal                 
  #mk.edge.to.pos.lasttoggle.f,   proposed to make internal 
  # model.matrix.pen.glm,               proposed to make internal 
  # model.transform.formula,   proposed to make internal 
  mvmodel,                         
  mvmodel.default,
  mvmodel.ergm,                    
  mvmodel.formula,
  #myLibLoc,                           proposed to make internal 
  network.update,
  newnw.extract,                   
  #nologLik.message,     proposed to make internal 
  nvattr.copy.network,             
  offset.info.formula,
  # ostar2deg,             proposed to make internal          
  plot.ergm,
  plot.gofobject,                  
  plot.mcmc.list.ergm,
  plot.network.ergm,               
  print.ergm,
  print.gofobject,                 
  print.network.list,
  print.summary.ergm,              
  prune.conlist,
  remove.offset.formula,           
  robust.inverse,
  # rspartnerdist,                   proposed to make internal    
  san,
  san.default,                     
  san.ergm,
  san.formula,                     
  search.ergmTerms,
  set.offset.formula,              
  simulate.ergm,
  simulate.formula,                
  #sociality,     proposed to make internal 
  #sociality.default,               
  #sociality.ergm,
  #sociality.formula,               
  #sociality.network,
  standardize.network,             
  summary.ergm,
  summary.formula,                 
  summary.gofobject,
  summary.network.list,            
  summary.statistics,
  summary.statistics.default,      
  summary.statistics.ergm,
  summary.statistics.formula,      
  summary.statistics.matrix,
  summary.statistics.network,      
  summary.statistics.network.list,
  summary.statsmatrix.ergm,        
  sweep.mcmc.list,
  term.list.formula,               
  to.lasttoggle.matrix,
  to.matrix.lasttoggle,            
  # twopathdist,     proposed to make internal 
  unset.offset.formula,            
  # updatemodel.ErgmTerm,    proposed to make internal 
  vcov.ergm,                       
  vector.namesmatch,
  # which.package.InitFunction, proposed to make internal
  wtd.median
  # xyplot.mcmc.list.ergm    proposed to make internal 
)

# register S3 methods so they will be visable when
# namespace is attached but package not loaded

S3method(MHproposal,MHproposal) 
S3method(MHproposal,NULL) 
S3method(MHproposal,character)
S3method(MHproposal,ergm)
S3method(MHproposal,formula)

S3method(anova,ergm)
S3method(anova,ergmlist)

S3method(as.network,numeric)
S3method(as.network,uncompressed)
S3method(as.edgelist,compressed)
S3method(as.edgelist,matrix)
S3method(as.edgelist,network)

S3method(coef,ergm)
S3method(coef,length.model)
S3method(coef,sublength.model)
S3method(enformulate.curved,ergm)
S3method(enformulate.curved,formula)

S3method(ergm.stopCluster,MPIcluster)
S3method(ergm.stopCluster,default) 

S3method(fix.curved,ergm)
S3method(fix.curved,formula)

S3method(gof,default) 
S3method(gof,ergm)
S3method(gof,formula)

S3method(is.durational,NULL)
S3method(is.durational,character)
S3method(is.durational,ergm.model)
S3method(is.durational,formula)

S3method(is.dyad.independent,NULL)
S3method(is.dyad.independent,conlist) 
S3method(is.dyad.independent,ergm)
S3method(is.dyad.independent,ergm.model)
S3method(is.dyad.independent,formula)

S3method(logLik,ergm)
S3method(logLikNull,ergm)

S3method(mcmc.diagnostics,default)
S3method(mcmc.diagnostics,ergm)

S3method(model.matrix,pen.glm)

S3method(mvmodel,default)
S3method(mvmodel,ergm)
S3method(mvmodel,formula)

S3method(plot,ergm)
S3method(plot,gofobject)
S3method(plot,mcmc.list.ergm)
S3method(plot,network.ergm)

S3method(print,ergm)
S3method(print,gofobject)
S3method(print,network.list)
S3method(print,summary.ergm)

S3method(san,default)
S3method(san,ergm)
S3method(san,formula)

S3method(simulate,ergm)
S3method(simulate,formula)

# why does sociality have S3 forms but other terms don't?
S3method(sociality,default)
S3method(sociality,ergm)
S3method(sociality,formula)
S3method(sociality,network)

S3method(summary,ergm)
S3method(summary,formula)
S3method(summary,gofobject)
S3method(summary,network.list)
S3method(summary,statistics)
S3method(summary,statistics.default)
S3method(summary,statistics.ergm)
S3method(summary,statistics.formula)
S3method(summary,statistics.matrix)
S3method(summary,statistics.network)
S3method(summary,statistics.network.list)
S3method(summary,statsmatrix.ergm)
         
S3method(vcov,ergm)